@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav align-items-lg-center gap-2 mb-0">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span class="nav-link px-0 text-nowrap">Hello @User.Identity?.Name!</span>
    </li>
    <li class="nav-item">
        <form class="d-inline" asp-controller="Account" asp-action="Logout" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="nav-link btn btn-link px-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link px-0" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-0" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
